canvas {
    border: 1px solid #d3d3d3;
    margin: 0 auto;
    position: relative;
    display: none;
}

.splash-screen {
  display: block;
  position: absolute;
  width: 600px;
  height: 600px;
  background-image: url('../images/background.png');
  background-size: 600px 600px;  
}

.splash-screen-content {
  width: 100px;
  height: 100px;
  margin-left: 250px;
  margin-top: 400px;
}

.game-over {
  display: none;
  position: absolute;
  width: 600px;
  height: 600px;
  background-image: url('../images/background.png');
  background-size: 600px 600px;  
}

button {
  width: 100px;
  height: 20px;
  cursor: pointer;
}

