.right-action ul li:last-child a {
    color: #cc003e;
}

.custom-inner p {
    color: #fff;
    font-size: 12px;
}

.num-item p {
    margin-bottom: 0;
    color: #cb164f;
    margin-top: 4px;
    font-size: 15px;
    font-weight: 600;
}

.item-list .blog-item .blog-title {
    font-size: 1.3em;
    color: #cc003e;
}

.item-list .blog-item .blog-stats {
    font-size: 0.8em;
    padding: 15px 0;
    color: #888;
}

.item-list .blog-item .blog-detail p span a {
    font-weight: 600;
    color: #cc003e;
}

.seller-item-list {
    display: inline;
}

.tweet-icon,
.tweet-message {
    display: inline-block;
    vertical-align: text-top;
}

.footer-content ul {
    list-style: none; /* Remove default bullets */
    line-height: 25px;
}

.final-footer ul li {
    display: inline;
    font-size: 11px;
}